---
layout: default
permalink: /articles/
---
<h1>Статьи.</h1>


<section class="section">

    <div class="list">

        {% assign articles = site.articles | sort: 'date' | reverse %}

        {% for article in articles %}

        <a href="{{ article.url | relative_url }}" class="list-item">
            <span class="meta">{{ article.date | date: "%d.%m.%y" }}</span>
            <span>
                <strong>{{ article.title }}</strong>
                <br>
                <span class="meta">
                    {{ article.authors | join: ", " }}
                    {% if article.read_time %}· {{ article.read_time }}{% endif %}
                </span>
            </span>
            <span class="arrow">→</span>
        </a>

        {% endfor %}

    </div>
</section>