---
layout: default
permalink: /services/
---
<h1>Услуги.</h1>

<p class="lead">
    Разрабатываем программное обеспечение
    от идеи до production.
</p>


<section class="section">
    <h2 class="comment">что мы делаем — <span class="hlline">всё что угодно</span> <span class="tag">[01/03]</span></h2>

    <div class="list">

        {% for service in site.data.services %}

        <div class="list-item">

            <span class="number">{{ forloop.index | prepend: '0' }}</span>

            <span>
                <strong>{{ service.name }}</strong>
                <br>
                <span class="meta">
                    {{ service.description }}
                </span>
            </span>

            <span></span>

        </div>

        {% endfor %}

    </div>
</section>


<section class="section">
    <h2 class="comment">процесс — <span class="hlline">от идеи до продакшена за N шагов</span> <span class="tag">[02/03]</span></h2>

    <div class="grid">

        {% for step in site.data.process %}

        <div class="card">
            <div class="number">{{ forloop.index | prepend: '0' }}</div>
            <h3>{{ step.name }}</h3>
            <p>
                {{ step.description }}
            </p>
        </div>

        {% endfor %}

    </div>
</section>


<section class="section" id="contact">
    <h2 class="comment">контакты<span class="tag">[03/03]</span></h2>

    <p class="lead">
        <a href="mailto:pickme@potatom.net">pickme@potatom.net</a>
    </p>
    <p class="lead">
        <a href="https://matrix.to/#/#potatom:matrix.potatom.net">#potatom:matrix.potatom.net</a>
    </p>
</section>