---
layout: default
---

<h1>{{ page.name }}.</h1>

<p class="lead">
    {{ page.description }}
</p>

{% if page.links %}
<p class="buttons">
    {% for link in page.links %}<a href="{{ link.url }}" class="button">{{ link.label }} ↗</a>{% endfor %}
</p>
{% endif %}


<section class="section">
    <h2 class="comment">обо мне</h2>

    <div class="lead">
        {{ content }}
    </div>
</section>


<section class="section">
    <h2 class="comment">статьи — <span class="hlline">написанные этим человеком</span></h2>

    <div class="list">

        {% assign author_articles = site.articles | where_exp: "a", "a.authors contains page.name" | sort: 'date' | reverse %}
        {% for post in author_articles %}
        <a href="{{ post.url | relative_url }}" class="list-item">
            <span class="meta">{{ post.date | date: "%d.%m.%y" }}</span>
            <span>{{ post.title }}</span>
            <span class="arrow">→</span>
        </a>
        {% endfor %}

    </div>
</section>


<section class="section">
    <h2 class="comment">посты</h2>

    <div class="list">

        {% assign author_posts = site.posts | where_exp: "p", "p.authors contains page.name" | sort: 'date' | reverse %}
        {% for post in author_posts %}
        <a href="{{ post.url | relative_url }}" class="list-item">
            <span class="meta">{{ post.date | date: "%d.%m.%y" }}</span>
            <span>{{ post.title }}</span>
            <span class="arrow">→</span>
        </a>
        {% endfor %}

    </div>
</section>