---
layout: default
---

<h1>{{ page.name }}.</h1>

<p class="lead">
    {{ page.description }}
</p>

{% if page.website or page.github %}
<p class="buttons">
    {% if page.website and page.website != "#" %}<a href="{{ page.website }}" class="button">сайт ↗</a>{% endif %}
    {% if page.github and page.github != "#" %}<a href="{{ page.github }}" class="button">github ↗</a>{% endif %}
</p>
{% endif %}


{% if page.image_placeholder %}
<div class="fake-image">
    [ {{ page.image_placeholder }} ]
</div>
{% endif %}


{{ content }}


{% if page.stack %}
<section class="section">
    <h2 class="comment">стек — <span class="hlline">из чего варим</span></h2>

    <div class="grid">

        {% for item in page.stack %}
        <div class="card">
            <div class="meta">{{ item.category }}</div>
            <h3>{{ item.name }}</h3>
            <p>{{ item.desc }}</p>
        </div>
        {% endfor %}

    </div>
</section>
{% endif %}